
<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="landing">
        <div class="container-subtitle">
            <h2 class="message">Write down, organize and manage your pending items</h2>      
        </div>        
        <div class="container-port">
            <img class="portada" src="https://d57439wlqx3vo.cloudfront.net/iblock/f5d/f5dcf76697107ea302a1981718e33c95/1f68f84b53199df9cae4b253225eae63.png">
        </div>
    </div>
    
    <div class="block-description">
        <div class="item-landing">
            <div class="container-img">
                <img class="item-img" src="https://play-lh.googleusercontent.com/vSNQds6F5roxdN4-a16JnQ9dWQVSZZ8OH4-iMAcNLaFQd3ItZWU8rOPOql4Ew5Hh1esX">
            </div>
            <div class="container-description">
                <p class="description-app">
                    Saving your personal notes is very fast, simple and free!
                </p>   
            </div>
        </div>
        <div class="item-landing">
            <div class="container-img">
                <img class="item-img" src="https://miro.medium.com/v2/resize:fit:1400/1*WxJYUNOWcV1ZDPjiwEfBbA.jpeg">
            </div>
            <div class="container-description">
                <p class="description-app">
                    You can save as many as you need, edit and delete them.
                </p>
            </div>
        </div>
        <div class="item-landing">
            <div class="container-img">
                <img class="item-img" src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png">
            </div>
            <div class="container-description">
                <p class="description-app">
                    You just have to create an account, log in and that's it!
                </p>
            </div>
        </div>
    </div>
</div>