
<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="landing">
        <div>
            <img class="portada" src="https://d57439wlqx3vo.cloudfront.net/iblock/f5d/f5dcf76697107ea302a1981718e33c95/1f68f84b53199df9cae4b253225eae63.png">
        </div>
        <h2 class="message">Write down, organize and manage your pending items</h2>

        <div class="block-description">
            <p class="description-app">
                Saving your personal notes is very fast, simple and free!
            </p>
            <p class="description-app">
                You can save as many as you need, edit and delete them.
            </p>
            <p class="description-app">
                You just have to create an account, log in and that's it!
            </p>
        </div>
    </div>
</div>