<div class="head">
    <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYGCet2ZlO1walpVrWDsYDzPHmmJVWK89cVw&usqp=CAU">
    <h2>New personal notes manager</h2>
</div>
<div class="container">
    <div class="landing">
        <p>This is a task manager</p>
        <div>
            <img class="portada" src="https://d57439wlqx3vo.cloudfront.net/iblock/f5d/f5dcf76697107ea302a1981718e33c95/1f68f84b53199df9cae4b253225eae63.png">
        </div>
    </div>

    <div class="section">
        <button routerLink="/auth/login">Log In</button>
        <button routerLink="/auth/register">Register</button>
    </div>
</div>

