.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: pink;
    margin: 20px 0px;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 15px;
}

.logo{
    width: 100px;
    border-radius: 35%;
    margin: 10px 30px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: yellow;
    
}

.landing{
    width: 60%;
    background: blue;
    width: 90vh;
    height: 60vh;
}

.portada{
    object-fit: cover;
    width: 100%;
}

.section{
    float: right;
    width: 20vh;
    background: red;
    min-width: 15vw;
}

button{
    width: 60%;
    height: 60px;
    margin: 30px 30px;
    background: white;
    font-size: 20px;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}