<div class="container">
    <form (ngSubmit)="logIn()" [formGroup]="formLogIn">        
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control " id="email" aria-describedby="emailHelp">
        </div>
        <div *ngIf="formLogIn.controls['email'].getError('requiered') ||
                    ( formLogIn.controls['email'].touched &&
                    formLogIn.controls['email'].invalid )">
            <p> Email is requiered</p>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password">
        </div>
        <div *ngIf="formLogIn.controls['password'].getError('requiered') ||
                    ( formLogIn.controls['password'].touched &&
                    formLogIn.controls['password'].invalid )">
            <p> Password is requiered</p>
        </div>
        <div *ngIf="formLogIn.touched && formLogIn.invalid">
            <p> Complete this form to log in.</p>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>

    <!-- 
        <div class="section">
            <h2>Others way</h2>
            <button class="btn btn-primary" routerLink="">Go back</button>
            <button class="btn btn-primary" routerLink="/auth/register">Go register</button>
        </div>
    -->
</div>